//color template
$body-background-color: #faf8f1 !default;
$body-heading-color: $grey-dk-300 !default;
$body-text-color: $grey-dk-100 !default;
$link-color: $blue-000 !default;
$nav-child-link-color: $grey-dk-100 !default;
$sidebar-color: $grey-lt-000 !default;
$base-button-color: #f7f7f7 !default;
$btn-primary-color: $purple-100 !default;
$code-background-color: $grey-lt-000 !default;
$feedback-color: darken($sidebar-color, 3%) !default;
$table-background-color: $white !default;
$search-background-color: $white !default;
$search-result-preview-color: $grey-dk-000 !default;

// Colors
$white: #faf8f1;
$grey-dk-000: #959396;
$grey-dk-100: #5c5962;
$grey-dk-200: #44434d;
$grey-dk-250: #302d36;
$grey-dk-300: #27262b;
$grey-lt-000: #f5f6fa;
$grey-lt-100: #eeebee;
$grey-lt-200: #ecebed;
$grey-lt-300: #e6e1e8;
$purple-000: #FAEAB1;
$purple-100: #E5BA73;
$purple-200: #C58940;
$purple-300: #9a6b32;
$blue-000: #2c84fa;
$blue-100: #2869e6;
$blue-200: #264caf;
$blue-300: #183385;
$green-000: #41d693;
$green-100: #11b584;
$green-200: #009c7b;
$green-300: #026e57;
$yellow-000: #ffeb82;
$yellow-100: #fadf50;
$yellow-200: #f7d12e;
$yellow-300: #e7af06;
$red-000: #f77e7e;
$red-100: #f96e65;
$red-200: #e94c4c;
$red-300: #dd2e2e;

